$white-color: #F8F8FF;
$black-color: #1A1A1A;

@font-face {
    font-family: 'HemiHead';
    src: url('assets/fonts/hemi-head-426/HEMIHEAD.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpaceAge';
    src: url('assets/fonts/space-age/space\ age.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    box-sizing: border-box;
    padding: 24px;
    background-color: $black-color;
    overflow: hidden;
}

h1 {
    font-family: 'HemiHead';
    color: $white-color;
    margin: 0;
}

h2 {
    font-family: 'HemiHead';
    color: $white-color;
    margin: 0;
}

p {
    font-family: 'HemiHead';
    color: $white-color;
    margin: 0;
}
