@import '../../../styles.scss';

:host {    
    h1 {
        text-align: center;
    }

    hr {
        width: 50%;
        border: 2px solid $white-color;
        border-radius: 5px;
    }

    .buttons {
        display: flex;
        flex-flow: column nowrap;
        gap: 24px;
        width: 100%;
        height: fit-content;
        align-items: center;
        margin: 64px 0 0 0;
    }
}